<%
var dt = new Date();
var y = dt.getFullYear();
var m = dt.getMonth();
var d = dt.getDate();
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title %></title>
<link type="text/css" href="style.css" rel="stylesheet">
</head>
<body>
        <h1><%=title %></h1>
        <p><%=msg %>
        <p>今日は、<%=y + "年" + (m + 1) + "月" + d + "日" %>です。</p>
</body>
</html>
